.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.has-background-gradient-green {
  background: rgb(147, 223, 148);
  background: linear-gradient(90deg, rgba(147, 223, 148, 1) 0%, rgba(94, 200, 90, 1) 66%);
  color: white;
}

.has-background-gradient-green .my-icon {
  background: rgba(147, 223, 148, 0.9);
}


.has-background-gradient-blue {
  background: rgb(179, 186, 255);
  background: linear-gradient(90deg, rgba(179, 186, 255, 1) 0%, rgba(125, 143, 255, 1) 66%);
  color: white;
}

.has-background-gradient-blue .my-icon {
  background: rgba(179, 186, 255, 0.9);
}


.has-background-gradient-orange {
  background: rgb(255, 204, 149);
  background: linear-gradient(90deg, rgba(255, 204, 149, 1) 0%, rgba(255, 112, 67, 1) 66%);
  color: white;
}

.has-background-gradient-orange .my-icon {
  background: rgba(255, 204, 149, 0.9);
}

.has-background-gradient-teal {
  background: rgb(182, 225, 221);
  background: linear-gradient(90deg, rgba(182, 225, 221, 1) 0%, rgba(38, 166, 154, 1) 66%);
  color: white;
}

.has-background-gradient-teal .my-icon {
  background: rgba(182, 225, 221, 0.9);
}

.my-card {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 65px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.metric-card h2 {
  font-size: 1.5em !important;
  margin-bottom: 0px !important;
}

.my-card .my-icon {
  border-radius: 8px;
  font-size: 15px;
}